{% extends 'base.html.twig' %}

{% block title %}Zadaci!
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('/components/error.html.twig') }}

        {{ include('/components/table.html.twig',{'table':dataTable}) }}
    </div>
{% endblock %}
